.form {
    margin: 2rem 0;
  }
  .form .input {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    padding: 0 1rem;
    border: 2px solid #fd4a1d;
    font-size: 1.3rem;
    background: linear-gradient(125deg, #fd4a1d 0%, #fcb045 100%);
    color: #5effc9;
    box-shadow: 0px 2px 10px 0px #3f3f3f;
    transition: 0.7s;
  }
  .form .input::placeholder {
    color: #5effc9;
  }
  .form .input:focus {
    border: 3px solid #ffee00;
  }

  .button {
    /* Styles pour le bouton */
    background: #fd4a1d;
    color: #5effc9;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
}

.button:hover {
    background: #fcb045;
    color: #fd4a1d;
}